# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Logs
*.log

# Database files
*.sqlite3

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyCharm
.idea/

/Data